name=winlite
hostname=winlite
custom_init=/sbin/droidspaces-init
bind_mounts=/data/local/tmp/droidspaces-runtime:/tmp/droidspaces-runtime,/data/local/tmp/droidspaces-home:/tmp/droidspaces-home
enable_hw_access=1
enable_gpu_mode=1
enable_termux_x11=0
enable_virgl=0
enable_pulseaudio=0
enable_anland=1
allow_userns=1
selinux_permissive=1
force_cgroupv1=0
block_nested_ns=0
privileged=noseccomp
net_mode=nat
static_nat_ip=172.28.152.143
dns_servers=172.28.0.1,223.5.5.5,119.29.29.29
